body {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2351bac9' fill-opacity='0.34' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.title {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #505050;
  text-transform: uppercase;
  text-align: center;
}

li {
  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  border: 5px solid hsla(0,0%,52.2%,.5);
  padding: 30px 0;
  width: 48%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header {
  margin-bottom: 30px;
  position: relative;
}

.main {
  display: flex;
  position: relative;
}

.control-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.list {
  border: 1px solid grey;
  width: 270px;
  height: 200px;
  margin: 0 0 15px;
  background: #fff;
}

.input-label {
  font-family: sans-serif;
  position: absolute;
  top: -7px;
  left: 2px;
}

.main-label {
  font-family: sans-serif;
  position: absolute;
  top: -18px;
  left: 2px;
}

.textField {
  width: 308px;
  height: 24px;
  border: 1px solid grey;
}

.error {
  width: 311px;
  padding: 0;
  top: 39px;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
}
  
.error.active {
  padding: 0.3em;
}

.btn {
  height: 50px;
  width: 120px;
  background-color: #5e9baf;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin: 0 0 0 40px;
}

.btn:hover {
  background-color: rgb(80, 133, 248);
}

.btn:active {
  transform: translateY(5px);
}

.clearBtn, .sortNameBtn {
  margin-bottom: 24px;
} 

.parseBtn {
  margin-top: 2px;
}

#xmlOutput {
  width: 305px;
  height: 50px;
}

.xmlResult {
  display: flex;
  margin-top: 10px;
}

  /* ------------------------------------------------------- */

@media screen and (max-width: 1450px) {
  .wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
  }

  .main {
    flex-wrap: wrap;
    justify-content: center;
  }

  .control-buttons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .xmlResult {
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }

  .btn {
    margin: 0;
  }

  .sortNameBtn, .sortValueBtn, .clearBtn {
    margin: 10px 0 0 10px;
  }

  .input-label {
    top: -20px;
    left: 8%;
  }

  .error {
    top: 28px;
  }

  .addBtn {
    margin-top: 30px;
  }

  .main-label {
    left: 17%;
  }

  #xmlOutput {
    margin: 10px 0;
  }
}

@media screen and (max-width: 450px) {
  .textField {
    width: 230px;
  }

  .input-label {
    left: 14%;
  }

  .error {
    width: 233px;
  }

  .addBtn {
    margin-top: 35px;
  }

  .list {
    width: 193px;
  }

  .main-label {
    left: 21%;
  }

  #xmlOutput {
    width: 239px;
  }
}

  @media screen and (max-width: 360px) {
    .input-label {
      left: 5%;
    }

  .main-label {
    left: 14%;
  }
}